h1{
	float: 
}

#mainmenu ul li {
	list-style-type: none;
	display: inline;
}

#mainmenu li a {
	display: block;
	text-decoration: none;
	padding: 8px 30px;
	float: left;
}

#footer{
	display:block;
	padding: 5px 0px 0px 5px;
	
}
