h1{
	float: 
}

#container {
	margin: 0,auto;
	width: 100%;
}

#header {
	background-color: powderblue;
	padding: 5px;
	text-align: center;
}

#mainmenu {
	width: 100%;
	background-color: powderblue;
}

#mainmenu ul li {
	list-style-type: none;
	display: inline;
}

#mainmenu li a {
	display: block;
	text-decoration: none;
	padding: 2px 2px;
	float: left;
}

#footer{
	display:block;
	padding: 5px 0px 0px 5px;
	
}
